<div style="display:
{% if date is defined %}
        block
{% else %}
        none
{% endif %};" id="mp-stats-app" class="main-content container-fluid">
    <div id="global-loader-block" aria-hidden="true" class="mp-loader-overlay ag-overlay hidden">
        <div class="ag-overlay-panel">
            <div class="ag-overlay-wrapper ag-layout-normal ag-overlay-loading-wrapper">
                <div class="mp-loader-static"></div>
            </div>
        </div>
    </div> <!---->
    <div class="card">
        <div class="card-header d-md-flex justify-content-between align-items-start">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb page-head-nav page-header pl-0 mb-0">
                    <li class="breadcrumb-item"><a href="/cabinet/summary">Сводка</a></li>
                    <li class="breadcrumb-item">Сравнение периодов</li>
                </ol>
            </nav>
            <div class="d-flex flex-column flex-lg-row justify-content-between justify-content-lg-start align-items-lg-center">
                <div class="btn-group d-flex flex-column flex-lg-block flex-lg-row align-items-center">
                    <div class="mr-3">
                        <div class="dropdown b-dropdown dropleft btn-group" id="__BVID__6"><!---->
                            <button aria-haspopup="true" aria-expanded="false" type="button"
                                    class="btn btn-outline-primary" id="__BVID__6__BV_toggle_">
                                <div class="d-inline position-relative"><i class="fas fa-cog"></i>
                                    <div class="switchers-counter position-absolute">0</div>
                                </div>
                            </button>
                            <ul role="menu" tabindex="-1" class="dropdown-menu py-2"
                                aria-labelledby="__BVID__6__BV_toggle_">
                                <li>
                                    <div class="dropdown-item">
                                        <div data-v-08387b56=""
                                             class="d-inline-block text-left mr-3 switcher-xs">
                                            <div data-v-08387b56="" class="switcher-button-wrapper">
                                                <div data-v-08387b56=""
                                                     class="switch-button mr-1 switch-button-xs switcher-on-off">
                                                    <input data-v-08387b56="" type="checkbox"
                                                           name="switcher-element-60148"
                                                           id="switcher-element-60148"> <span
                                                            data-v-08387b56=""><label data-v-08387b56=""
                                                                                      for="switcher-element-60148"></label></span>
                                                </div>
                                                <span data-v-08387b56="" class="switcher-text">
                                    Группировать размеры
                                </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-item">
                                        <div data-v-08387b56="" class="d-inline-block text-left switcher-xs">
                                            <div data-v-08387b56="" class="switcher-button-wrapper">
                                                <div data-v-08387b56=""
                                                     class="switch-button mr-1 switch-button-xs switcher-on-off disabled">
                                                    <input data-v-08387b56="" type="checkbox"
                                                           name="switcher-element-17686"
                                                           id="switcher-element-17686" disabled="disabled">
                                                    <span data-v-08387b56=""><label data-v-08387b56=""
                                                                                    for="switcher-element-17686"></label></span>
                                                </div>
                                                <span data-v-08387b56="" class="switcher-text text-muted">
                                    Показать выведенные из номенклатуры
                                    (<span data-v-08387b56="">0</span> шт
                                    <i data-v-08387b56="" class="fas fa-info-circle text-muted ml-1"></i>)
                                </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-item">
                                        <div data-v-08387b56="" class="d-inline-block text-left switcher-xs">
                                            <div data-v-08387b56="" class="switcher-button-wrapper">
                                                <div data-v-08387b56=""
                                                     class="switch-button mr-1 switch-button-xs switcher-on-off">
                                                    <input data-v-08387b56="" type="checkbox"
                                                           name="switcher-element-75944"
                                                           id="switcher-element-75944"> <span
                                                            data-v-08387b56=""><label data-v-08387b56=""
                                                                                      for="switcher-element-75944"></label></span>
                                                </div>
                                                <span data-v-08387b56="" class="switcher-text">
                                    Показать товары с нулевыми продажами
                                </span></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button onclick="closeCompare()" class="btn btn-secondary mr-3">Сравнение периодов
                    </button>
                    <div class="api-key-selector d-flex align-items-start align-items-xxl-center">
                        <div class="mr-2" style="display: none;"></div>
                        <div class="dropdown b-dropdown btn-group" id="__BVID__11"><!---->
                            <ul role="menu" tabindex="-1" class="dropdown-menu dropdown-menu-right"
                                aria-labelledby="__BVID__11__BV_toggle_">
                                <li role="presentation" style="display: none;"><a role="menuitem" href="#"
                                                                                  target="_self"
                                                                                  class="dropdown-item"><span
                                                class="font-weight-normal">Все ключи API</span></a></li>
                                <li role="presentation" style="display: none;">
                                    <form tabindex="-1" class="b-dropdown-form"><input type="text"
                                                                                       placeholder="Поиск"
                                                                                       class="form-control form-control-xs">
                                    </form>
                                </li>
                                <li role="presentation" style="display: none;">
                                    <hr role="separator" aria-orientation="horizontal" class="dropdown-divider">
                                </li>
                                <li role="presentation"><p class="b-dropdown-text">
                                    <div class="custom-control custom-checkbox"><input id="api-key-all-10"
                                                                                       type="checkbox"
                                                                                       class="custom-control-input">
                                        <label for="api-key-all-10" class="custom-control-label">
                                            Выбрать все ключи
                                        </label></div>
                                    </p></li>
                                <li role="presentation">
                                    <hr role="separator" aria-orientation="horizontal" class="dropdown-divider">
                                </li>
                                <li role="presentation"><p class="b-dropdown-text">
                                    <div class="d-flex justify-content-between">
                                        <div class="custom-control custom-checkbox mr-2"><input type="checkbox"
                                                                                                id="api-key-22636-10"
                                                                                                class="custom-control-input">
                                            <label for="api-key-22636-10"
                                                   class="custom-control-label">Потапов</label></div>
                                        <i class="fas fa-circle fa-xs ml-3 text-success"></i></div>
                                    </p></li>
                                <li role="presentation"><p class="b-dropdown-text">
                                    <div class="d-flex justify-content-between">
                                        <div class="custom-control custom-checkbox mr-2"><input type="checkbox"
                                                                                                id="api-key-22637-10"
                                                                                                class="custom-control-input">
                                            <label for="api-key-22637-10"
                                                   class="custom-control-label">Атюнины</label></div>
                                        <i class="fas fa-circle fa-xs ml-3 text-success"></i></div>
                                    </p></li>
                                <li role="presentation">
                                    <hr role="separator" aria-orientation="horizontal" class="dropdown-divider">
                                </li>
                                <li role="presentation">
                                    <p class="b-dropdown-text">
                                        <button disabled="disabled" class="btn btn-sm btn-success w-100">
                                            Обновить
                                        </button>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" style="position: relative;">
            <div class="text-center" style="display: none;">
                <button class="btn btn-warning">Сравнение периодов</button>
            </div> <!---->
            <div class="w35">
                <div groupdisplaytype="singleColumn" class="ag-theme-balham">
                </div>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div class="d-flex align-items-center">
                    <div class="row-bg-info mr-1" style="background: rgb(220, 220, 220);"></div>
                    - исключенные товары
                </div>
            </div>
            <div class="mp-loader-overlay ag-overlay hidden" aria-hidden="true">
                <div class="ag-overlay-panel">
                    <div class="ag-overlay-wrapper ag-layout-normal ag-overlay-loading-wrapper">
                        <div class="mp-loader-static"></div>
                    </div>
                </div>
            </div>
        </div> <!----></div>
    <div><!---->
        <div class="snotify snotify-left_top"></div>
        <div class="snotify snotify-left_center"></div>
        <div class="snotify snotify-left_bottom"></div>
        <div class="snotify snotify-right_top"></div>
        <div class="snotify snotify-right_center"></div>
        <div class="snotify snotify-right_bottom"></div>
        <div class="snotify snotify-center_top"></div>
        <div class="snotify snotify-center_center"></div>
        <div class="snotify snotify-center_bottom"></div>
    </div>
</div>
<script>
    function send(){
        option = {...getOptions()}
        fetch(`{{path("cabinet_api_compare")}}?d11={{d11??''}}&d12={{d12??''}}&d21={{d21??''}}&d22={{d22??''}}`, {
            method: "GET"
        })
            .then(data => data.json())
            .then(data => {
                option['columnDefs'] = [
                    {
                        headerName: 'Товар',
                        children: [
                            {
                                headerName: 'Фото',
                                field: 'img',
                                maxWidth: 80,
                                pinned: 'left',
                                sortable: false,
                                filter: false,
                                cellRenderer: params => `<img style="height: 32px; width: 32px" src="#" />`
                            },
                            {
                                headerName: 'Название',
                                field: 'name',
                                pinned: 'left',
                            }
                        ]
                    },
                    {
                        headerName: 'Товар',
                        children: [
                            {
                                headerName: 'SKU',
                                field: 'sku',
                                wrapText: true,
                                autoHeight: true,
                                cellRenderer: params => `<a href="https://www.wildberries.ru/catalog/${params.value}/detail.aspx">${params.value}</a>`
                            },
                            {
                                headerName: 'Бренд',
                                field: 'brand',
                            }
                        ]
                    },
                    {
                        headerName: '{{d11??''}} - {{d12??''}}',
                        children: [
                            {
                                headerName: 'Заказов (шт)',
                                field: 'orders_count1',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Заказов (руб)',
                                field: 'orders_summ1',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Продаж (шт)',
                                field: 'sales_count1',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Ср. цена',
                                field: 'average_price1',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Сумма продаж',
                                field: 'sales_summ1',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Прибыль',
                                field: 'profit1',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Прибыль без возвратов',
                                field: 'profit_without_returns_money_1',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Маржинальность',
                                field: 'marginality1',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Дней в наличии',
                                field: 'days_in_stock1',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Скорость заказов',
                                field: 'orders_speed1',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Скорость продаж',
                                field: 'sales_speed1',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            }
                        ]
                    },
                    {
                        headerName: '{{d21??''}} - {{d22??''}}',
                        children: [
                            {
                                headerName: 'Заказов (шт)',
                                field: 'orders_count2',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Заказов (руб)',
                                field: 'orders_summ2',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Продаж (шт)',
                                field: 'sales_count2',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Ср. цена',
                                field: 'average_price2',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Сумма продаж',
                                field: 'sales_summ2',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Прибыль',
                                field: 'profit2',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Прибыль без возвратов',
                                field: 'profit_without_returns_money_2',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Маржинальность',
                                field: 'marginality2',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Дней в наличии',
                                field: 'days_in_stock2',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Скорость заказов',
                                field: 'orders_speed2',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Скорость продаж',
                                field: 'sales_speed2',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            }
                        ]
                    },
                    {
                        headerName: 'Разница',
                        children: [
                            {
                                headerName: 'Заказов (шт)',
                                field: 'orders_count_diff',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Заказов (руб)',
                                field: 'orders_summ_diff',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Продаж (шт)',
                                field: 'sales_count_diff',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Ср. цена',
                                field: 'average_price_diff',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Сумма продаж',
                                field: 'sales_summ_diff',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Прибыль',
                                field: 'profit_diff',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Прибыль без возвратов',
                                field: 'profit_without_returns_money_diff',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Маржинальность',
                                field: 'marginality_diff',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Дней в наличии',
                                field: 'days_in_stock_diff',
                            },
                            {
                                headerName: 'Скорость заказов',
                                field: 'orders_speed_diff',
                                cellRenderer: params => `<p class="number">${params.value > -1 && params.value < 1 ?0:params.value}</p>`
                            },
                            {
                                headerName: 'Скорость продаж',
                                field: 'sales_speed_diff',
                                cellRenderer: params => `<p class="number">${params.value > -1 && params.value < 1 ?0:params.value}</p>`
                            }
                        ]
                    }
                ]
                data = data['data']
                option['rowData'] = []
                for (let i = 0; i < data.length; i++) {
                    option['rowData'][i] = {
                        img:data[i]['img'],
                        name:data[i]['name'],
                        sku: data[i]['nm_id'],
                        brand: data[i]['brand'],
                        orders_count1:data[i]['orders_count1'],
                        orders_summ1:data[i]['orders_summ1'],
                        sales_count1:data[i]['sales_count1'],
                        average_price1:data[i]['average_price1'],
                        sales_summ1:data[i]['sales_summ1'],
                        profit1:data[i]['profit1'],
                        profit_without_returns_money_1:data[i]['profit_without_returns_money_1'],
                        marginality1:data[i]['marginality1'],
                        days_in_stock1:data[i]['days_in_stock1'],
                        orders_speed1:data[i]['orders_speed1'],
                        sales_speed1:data[i]['sales_speed1'],
                        orders_count2:data[i]['orders_count2'],
                        orders_summ2:data[i]['orders_summ2'],
                        sales_count2:data[i]['sales_count2'],
                        average_price2:data[i]['average_price2'],
                        sales_summ2:data[i]['sales_summ2'],
                        profit2:data[i]['profit2'],
                        profit_without_returns_money_2:data[i]['profit_without_returns_money_2'],
                        marginality2:data[i]['marginality2'],
                        days_in_stock2:data[i]['days_in_stock2'],
                        orders_speed2:data[i]['orders_speed2'],
                        sales_speed2:data[i]['sales_speed2'],
                        orders_count_diff:data[i]['orders_count_diff'],
                        orders_summ_diff:data[i]['orders_summ_diff'],
                        sales_count_diff:data[i]['sales_count_diff'],
                        average_price_diff:data[i]['average_price_diff'],
                        sales_summ_diff:data[i]['sales_summ_diff'],
                        profit_diff:data[i]['profit_diff'],
                        profit_without_returns_money_diff:data[i]['profit_without_returns_money_diff'],
                        marginality_diff:data[i]['marginality_diff'],
                        days_in_stock_diff:data[i]['days_in_stock_diff'],
                        orders_speed_diff:data[i]['orders_speed_diff'],
                        sales_speed_diff:data[i]['sales_speed_diff'],
                    }
                }
                new agGrid.Grid(document.getElementsByClassName("ag-theme-balham")[0], option)
            })
    }
    let option = {}
    document.addEventListener("DOMContentLoaded", () => {
        send()
    })


</script>