{% extends 'index/index.html.twig' %}
{% block linkStyles %}
    <link href="../styles/index/styles.css" rel="stylesheet">
    <link href="../styles/index/vendor.css" rel="stylesheet">
    <link href="../styles/summary/summary.css" rel="stylesheet">
    <link href="../styles/summary/table.css" rel="stylesheet">
    <link href="../styles/summary/table2.css" rel="stylesheet">

{% endblock %}
{% block body %}
    <div id="mp-stats-app" class="main-content container-fluid">
        <div id="global-loader-block" aria-hidden="true" class="mp-loader-overlay ag-overlay hidden">
            <div class="ag-overlay-panel">
                <div class="ag-overlay-wrapper ag-layout-normal ag-overlay-loading-wrapper">
                    <div class="mp-loader-static"></div>
                </div>
            </div>
        </div>
        <div>
            <div role="alert" class="alert alert-warning alert-icon alert-dismissible">
                <div class="icon"><span class="mdi mdi-info-outline"></span></div>
                <div class="message">
                    В результате технического сбоя в работе Wildberries в личном кабинете могут быть задержки при
                    обновлении данных, передаваемых по API. Сведения по отчетам обновляются медленнее, чем раньше, мы
                    уже работаем над решением вопроса.
                    <br> <b>Важно!</b> Обновление вашего API ключа не повлияет на скорость получения данных.
                </div>
            </div>
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-start">
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb page-head-nav page-header pl-0 mb-0">
                            <li class="breadcrumb-item"><a href="/cabinet/summary">Сводка</a></li>
                            <li class="breadcrumb-item">Ключи API</li>
                        </ol>
                    </nav>
                </div>
                <div class="card-body row">
                    <div class="col-12 col-lg-4">
                        <button onclick="addToken()" class="btn btn-success mb-3"><i class="mdi mdi-plus"></i> Добавить
                            ключ API
                        </button>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            {% for token in tokens %}
                                <div class="col-12 col-lg-3">
                                    <div class="card card-border card-contrast card-border-color card-table card-border-color-success"
                                         style="position: relative;">
                                        <div class="card-header card-header-contrast d-flex justify-content-between">
                                            <div class="w-75">
                                                <div>{{token.name}}</div>
                                                <div class="card-subtitle">{{token.token}}</div>
                                                <div class="card-subtitle mt-2">
                                                    Статус: <span class="font-weight-bold">{{token.statusName}}</span> <i
                                                            class="fas fa-info-circle ml-2" style="display: none;"></i>
                                                </div>
                                                <div class="card-subtitle mt-2">
                                                    {% if token.status == 1 %}
                                                    Оборот:
                                                    <span class="font-weight-normal">{{token.turnovers}} ₽</span> <i
                                                            class="fas fa-info-circle ml-2"></i>
                                                    {%endif%}
                                                </div>
                                            </div>
                                            <div class="tools">
                                                <div class="dropdown b-dropdown btn-group" id="__BVID__12"><!---->
                                                    <button style="color: red;" aria-haspopup="true" aria-expanded="false" type="button" onclick="deleteToken(this)"
                                                            class="btn dropdown-toggle btn-link btn-sm text-decoration-none dropdown-toggle-no-caret"
                                                            id="{{token.id}}">Удалить
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        {% if token.status == 1 %}
                                            <div class="card-body mb-0 table-responsive">
                                                <table class="table table-striped table-borderless table-sm">
                                                    <thead>
                                                    <tr>
                                                        <th colspan="3">Последние обновления:</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="no-border-x">
                                                    <tr>
                                                        <td>Заказы</td>
                                                        <td class="text-right"><span
                                                                    id="ls_tooltip_order">{{token.orders.date}}</span>
                                                        </td>
                                                        <td class="text-right">
                                                            <span id="last_tooltip_order">{{token.orders.order}}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Продажи</td>
                                                        <td class="text-right"><span id="ls_tooltip_sale">{{token.sales.date}}</span>
                                                            <!----></td>
                                                        <td class="text-right"><span id="last_tooltip_sale">{{token.sales.sale}}</span>
                                                            <!---->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Склад</td>
                                                        <td class="text-right"><span
                                                                    id="ls_tooltip_stock">{{token.incomes.date}}</span>
                                                            <!----></td>
                                                        <td class="text-right"><span id="last_tooltip_stock">{{token.incomes.income}}</span>
                                                            <!----></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Еженедельный отчет</td>
                                                        <td class="text-right">
                                                            <span id="ls_tooltip_ls_sbs">{{token.reports.date}}</span>
                                                        </td>
                                                        <td class="text-right">
                                                            <span id="last_tooltip_ls_sbs">{{token.reports.report}}</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        {% endif%}
                                        <div class="mp-loader-overlay ag-overlay hidden" aria-hidden="true">
                                            <div class="ag-overlay-panel">
                                                <div class="ag-overlay-wrapper ag-layout-normal ag-overlay-loading-wrapper">
                                                    <div class="mp-loader-static"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div> <!----></div>
        </div>
        <div><!---->
            <div class="snotify snotify-left_top"></div>
            <div class="snotify snotify-left_center"></div>
            <div class="snotify snotify-left_bottom"></div>
            <div class="snotify snotify-right_top"></div>
            <div class="snotify snotify-right_center"></div>
            <div class="snotify snotify-right_bottom"></div>
            <div class="snotify snotify-center_top"></div>
            <div class="snotify snotify-center_center"></div>
            <div class="snotify snotify-center_bottom"></div>
        </div>
    </div>
    <script>
        async function deleteToken(element) {
            await fetch("token/"+element.id)
            window.location.reload()
        }

        function addToken() {
            let div = document.getElementById('modal');
            if (div !== null) {
                div.parentNode.removeChild(div);
            } else {
                document.getElementsByClassName('be-wrapper')[0].innerHTML += `
<div id="modal">
    <div onclick="addToken()" style="background: #000000a3;width: 100vw;position: fixed;height: 100vh;z-index: 11;top: 0;"></div>
    <div style="position: fixed;left: 50vh;top: 0vh;right: 50vh;z-index: 11;" class="modal-dialog modal-md modal-dialog-centered">
    <span tabindex="0"></span>
    <div id="newApiKeyModalBlock___BV_modal_content_" tabindex="-1" class="modal-content">
    <header id="newApiKeyModalBlock___BV_modal_header_" class="modal-header"><h5 id="newApiKeyModalBlock___BV_modal_title_" class="modal-title">Добавить ключ API</h5><button type="button" aria-label="Close" class="close">×</button></header>
    <div id="newApiKeyModalBlock___BV_modal_body_" class="modal-body">
        <form method="post">
            <input type="hidden" name="apiKey"> <div class="form-group"><div class="font-weight-bold h4 mt-0">Добавление ключа для Wildberries</div> <label for="api-name">
                            Название <sup title="Обязательно для заполнения" class="text-danger">*</sup></label> <input id="api-name" type="text" name="name" placeholder="Введите название ключа API" class="form-control"> <div class="invalid-feedback"></div></div> <div class="form-group"><label for="api-key">
                            Ключ в формате base64 <sup title="Обязательно для заполнения" class="text-danger">*</sup></label> <input id="api-key" type="text" name="api_key" placeholder="Введите ключ API в формате Base64" class="form-control"> <div class="invalid-feedback"></div></div>
            <div style = "color:red;">{{ error ?? ''}}</div>
            <footer id="newApiKeyModalBlock___BV_modal_footer_" class="modal-footer"><!----><button type="submit" class="btn btn-success"><i class="mdi mdi-plus"></i> Добавить</button></footer>
        </form>
    </div>
    </div><span tabindex="0"></span>
    </div>
</div>`;
            }

        }
        {% if error ?? null %}
            addToken()
        {% endif%}
    </script>
{% endblock %}