{% extends 'index/index.html.twig' %}
{% block linkStyles %}
    <link href="../../styles/index/styles.css" rel="stylesheet">
    <link href="../../styles/index/vendor.css" rel="stylesheet">
    <link href="../../styles/summary/summary.css" rel="stylesheet">
    <link href="../../styles/summary/table.css" rel="stylesheet">
    <link href="../../styles/summary/table2.css" rel="stylesheet">
    <link href="../../styles/seo/selection.css" rel="stylesheet">
    <link href="../../styles/seo/slider.css" rel="stylesheet">
    <link href="../../styles/seo/table.css" rel="stylesheet">

    <script>
        function collapse(element) {
            let display = element.parentNode.parentNode.children[1].style.display
            element.parentNode.parentNode.children[1].style.display = display === "block" ? "none" : "block"
        }
    </script>
{% endblock %}
{% block body %}
    {% include 'ozon/HTML/categorySale.html.twig' %}
    <script>
        let date = "{{d1}} to {{d2}}"
        document.addEventListener("DOMContentLoaded", () => {
            newDatePicker('datePicker', function (date){
                window.location.href="{{path("ozon_category")}}?url={{ path }}&date="+date
            })
            let el = document.getElementById("scrollbar")
            el.addEventListener("input",
                function () {
                    let width = document.getElementById("table_sale").offsetWidth
                    let value = (el.value * width / 600)/5
                    document.getElementById("table_sale").style.transform = "translateX(-" + value + "vh)"
                    document.getElementById("table_sale_header").style.transform = "translateX(-" + value + "vh)"
                }, false)
        })
        function select(el) {
            let id = el.id.substring(0, 10)
            let befPrefix = "__BVID__"
            let list = ["69", "75", "77", "79", "82", "84", "86", "88"]
            let afPrefix = "___BV_tab_button__"
            for (let i = 0; i < list.length; i++) {
                document.getElementById(befPrefix + list[i] + afPrefix).classList.remove("active")
                document.getElementById(befPrefix + list[i]).style.display = "none"
            }
            document.getElementById(id).style.display = "block"
            document.getElementById(id + afPrefix).classList.add("active")
            switch (id) {
                case befPrefix + "75":
                    subCategory(id)
                    break;
                case befPrefix + "77":
                    brands(id)
                    break;
                case befPrefix + "79":
                    sellers(id)
                    break;
                case befPrefix + "82":
                    trends(id)
                    break;
                case befPrefix + "84":
                    onDay(id)
                    break;
                case befPrefix + "86":
                    priceSegment(id)
                    break;
                case befPrefix + "88":
                    compare(id)
                    break;
            }
        }
        function compare(id) {
            if (document.getElementById(id + "__table").children.length > 1) return;
            fetch(`/api/oz/compare?url={{ path }}`, {method: "GET"})
                .then(data => data.json())
                .then(data => {
                    let str = ``
                    let date = data['date']
                    document.getElementById('d1').innerText = `${date['d11']} - ${date['d12']}`
                    document.getElementById('d1_col').innerText = `${date['d11']} - ${date['d12']}`
                    document.getElementById('d2').innerText = `${date['d21']} - ${date['d22']}`
                    document.getElementById('d2_col').innerText = `${date['d21']} - ${date['d22']}`
                    data = data['data']
                    for (let i = 0; i < data.length; i++) {
                        str += `
                            <div  class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first" style="height: 35px; transform: translateY(${i * 35}px); " aria-label="Press SPACE to select this row.">
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height d-flex justify-content-center ag-cell-value" style="width: 50px; left: 0px;  ">
																		<div class="ag-grid-thumb-cell">
																			<div><img src="${data[i]['img']}">
																			<!---->
																			</div>
																			<!---->
																		</div>
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value" style="width: 261.3299999999999px; left: 50px;  ">
																		<a href="/wb/item/${data[i]['sku']}" target="_blank">${data[i]['name']}</a>
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value" style="width: 176px; left: 311.3299999999999px;  ">
																		<a href="https://www.wildberries.ru/catalog/${data[i]['sku']}/detail.aspx" title="Открыть в Wildberries" target="_blank">${data[i]['sku']}</a>
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value" style="width: 176px; left: 487.3299999999999px;  ">
																		${data[i]['brand']}
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value" style="width: 176px; left: 663.3299999999999px;  ">
																		${data[i]['seller']}
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height group-a-bg ag-right-aligned-cell ag-cell-value" style="width: 176px; left: 839.3299999999999px;  ">
																		${data[i]['sales_count_1']} шт
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height group-a-bg ag-right-aligned-cell ag-cell-value" style="width: 176px; left: 1015.3299999999999px;  ">
																		${data[i]['revenue_1']} ₽
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height group-a-bg ag-right-aligned-cell ag-cell-value" style="width: 176px; left: 1191.33px;  ">
																		${data[i]['pricefinal_1']} ₽
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height group-b-bg ag-right-aligned-cell ag-cell-value ag-column-hover" style="width: 176px; left: 1367.33px;  ">
                                                                        ${data[i]['sales_count_2']} шт
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height group-b-bg ag-right-aligned-cell ag-cell-value ag-column-hover" style="width: 176px; left: 1543.33px;  ">
                                                                        ${data[i]['revenue_2']} ₽
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height group-b-bg ag-right-aligned-cell ag-cell-value ag-column-hover" style="width: 176px; left: 1719.33px;  ">
																		${data[i]['pricefinal_2']} ₽
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value" style="width: 176px; left: 1895.33px;  ">
																		${data[i]['sales_count_diff']} шт
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value" style="width: 176px; left: 2071.33px;  ">
																		${data[i]['revenue_diff']} ₽
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value" style="width: 176px; left: 2247.33px;  ">
																		${data[i]['pricefinal_diff']} ₽
																	</div>
																</div>
                        `
                    }
                    document.getElementById(id + "__table").innerHTML = str
                })
        }

        function priceSegment(id) {
            if (document.getElementById(id + "__table").children.length > 1) return;
            fetch(`/api/oz/priceSegment?url={{ path }}`, {method: "GET"})
                .then(data => data.json())
                .then(data => {
                    let str = ``
                    for (let i = 0; i < data.length; i++) {
                        str += `
<div class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first" style="height: 35px; transform: translateY(${i * 35}px); ">
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value ag-cell-range-left"
                                                                             style="width: 177px; left: 0px;  ">${data[i]['min_range_price']} ₽
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                             style="width: 174px; left: 177px;  ">${data[i]['max_range_price']} ₽</div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                             style="width: 174px; left: 351px;  ">${data[i]['sales']}
                                                                            шт
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                             style="width: 174px; left: 525px;  ">${data[i]['revenue']} ₽
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                             style="width: 174px; left: 699px;  ">${data[i]['lost_profit']} ₽
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                             style="width: 174px; left: 873px;  ">${(data[i]['lost_profit_percent'] ?? 0).toFixed(2)}
                                                                            %
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                             style="width: 174px; left: 1047px;  ">${data[i]['items']}
                                                                            шт
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                             style="width: 174px; left: 1221px;  ">${data[i]['items_with_sells']}
                                                                            шт
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                             style="width: 174px; left: 1395px;  ">${data[i]['brands']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                             style="width: 174px; left: 1569px;  ">${data[i]['brands_with_sells']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                             style="width: 174px; left: 1743px;  ">${data[i]['sellers']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                             style="width: 174px; left: 1917px;  ">${data[i]['sellers_with_sells']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value ag-cell-range-right"
                                                                             style="width: 174px; left: 2091px;  ">${data[i]['product_revenue']} ₽/шт
                                                                        </div>
                                                                    </div>

                        `
                    }
                    document.getElementById(id + "__table").innerHTML = str
                })
        }

        function onDay(id) {
            if (document.getElementById(id + "__table").children.length > 1) return;
            fetch(`/api/oz/onDay?url={{ path }}`, {method: "GET"})
                .then(data => data.json())
                .then(data => {
                    let str = ``
                    for (let i = 0; i < data.length; i++) {
                        str += `
                            <div class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first"
                                                                         style="height: 35px; transform: translateY(${i * 35}px); "
                                                                         aria-label="Press SPACE to select this row.">
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="1"
                                                                             comp-id="2412" col-id="period"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value"

                                                                             style="width: 153.1099999999999px; left: 0px;  ">
                                                                            ${data[i]['period']}
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="2"
                                                                             comp-id="2413" col-id="items"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"

                                                                             style="width: 154px; left: 153.1099999999999px;  ">
                                                                            ${data[i]['items']} шт
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="3"
                                                                             comp-id="2414" col-id="items_with_sells"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"

                                                                             style="width: 154px; left: 307.1099999999999px;  ">
                                                                            ${data[i]['items_with_sells']} шт
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="4"
                                                                             comp-id="2415" col-id="sales"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height text-right ag-cell-value"

                                                                             style="width: 154px; left: 461.1099999999999px;  ">
                                                                            ${data[i]['sales']} шт
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="5"
                                                                             comp-id="2416" col-id="brands"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"

                                                                             style="width: 154px; left: 615.1099999999999px;  ">
                                                                            ${data[i]['brands']}
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="6"
                                                                             comp-id="2417" col-id="brands_with_sells"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"

                                                                             style="width: 154px; left: 769.1099999999999px;  ">
                                                                            ${data[i]['brands_with_sells']}
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="7"
                                                                             comp-id="2418" col-id="sellers"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"

                                                                             style="width: 154px; left: 923.1099999999999px;  ">
                                                                            ${data[i]['sellers']}
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="8"
                                                                             comp-id="2419" col-id="sellers_with_sells"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"

                                                                             style="width: 154px; left: 1077.11px;  ">
                                                                            ${data[i]['sellers_with_sells']}
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="9"
                                                                             comp-id="2420" col-id="revenue"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height text-right ag-cell-value"

                                                                             style="width: 154px; left: 1231.11px;  ">${data[i]['revenue']} ₽
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="10"
                                                                             comp-id="2421" col-id="avg_price"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"

                                                                             style="width: 154px; left: 1385.11px;  ">${(data[i]['avg_price'] ?? 0).toFixed(2)} ₽
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="11"
                                                                             comp-id="2422" col-id="avg_sale_price"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"

                                                                             style="width: 154px; left: 1539.11px;  ">${(data[i]['avg_sale_price'] ?? 0).toFixed(2)} ₽
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="12"
                                                                             comp-id="2423" col-id="comments"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"

                                                                             style="width: 154px; left: 1693.11px;  ">
                                                                            ${(data[i]['comments'] ?? 0).toFixed(2)}
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="13"
                                                                             comp-id="2424" col-id="rating"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"

                                                                             style="width: 154px; left: 1847.11px;  ">
                                                                            ${(data[i]['rating'] ?? 0).toFixed(2)}
                                                                        </div>
                                                                    </div>
                        `
                    }
                    document.getElementById(id + "__table").innerHTML = str
                })
        }

        function trends(id) {
            if (document.getElementById(id + "__table").children.length > 1) return;
            fetch(`/api/oz/trends?url={{ path }}`, {
                method: "GET"
            })
                .then(data => data.json())
                .then(data => {
                    let value = [[], [], [], [], [], [], [], [], [], []], str = ``, names=['Продажи', 'Выручка', 'Товаров', 'Товаров с продажами', 'Брендов', 'Брендов с продажами', 'Продавцов', 'Продавцов с продажами', 'Выручка на товар', 'Средний чек'], labels =[]
                    for (let i = 0; i < data.length; i++) {
                        labels[i] = data[i]['week']
                        value[0][i] = data[i]['sales']??0
                        value[1][i] = data[i]['revenue']??0
                        value[2][i] = data[i]['items']??0
                        value[3][i] = data[i]['items_with_sells']??0
                        value[4][i] = data[i]['brands']??0
                        value[5][i] = data[i]['brands_with_sells']??0
                        value[6][i] = data[i]['sellers']??0
                        value[7][i] = data[i]['sellers_with_sells']??0
                        value[8][i] = data[i]['product_revenue']??0
                        value[9][i] = data[i]['average_order_value']??0
                        str += `
                                                                        <div
                                                                         class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first"
                                                                         style="height: 35px; transform: translateY(${i * 35}px); "
                                                                         aria-label="Press SPACE to select this row.">
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value"
                                                                             style="width: 160px; left: 0px;"><span>${data[i]['week']} - ${data[i]['end_week']}</span>
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                             style="width: 163px; left: 160px;  ">${data[i]['sales']}
                                                                            шт
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"

                                                                             style="width: 163px; left: 323px;  ">${data[i]['revenue']} ₽
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"

                                                                             style="width: 163px; left: 486px;  ">${data[i]['items']}
                                                                            шт
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"

                                                                             style="width: 163px; left: 649px;  ">${data[i]['items_with_sells']}
                                                                            шт
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"

                                                                             style="width: 163px; left: 812px;  ">${data[i]['brands']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"

                                                                             style="width: 163px; left: 975px;  ">${data[i]['brands_with_sells']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"

                                                                             style="width: 163px; left: 1138px;  ">${data[i]['sellers']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"

                                                                             style="width: 163px; left: 1301px;  ">${data[i]['sellers_with_sells']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"

                                                                             style="width: 163px; left: 1464px;  ">${data[i]['product_revenue']}
                                                                            ₽/шт
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"

                                                                             style="width: 163px; left: 1627px;  ">${data[i]['average_order_value']}
                                                                            ₽
                                                                        </div>
                                                                    </div>
                        `
                    }
                    document.getElementById(id + "__table").innerHTML = str
                    drawLineGraph('trends_revenue_graph', value, names, labels)
                })
        }

        function sellers(id) {
            if (document.getElementById(id + "__table").children.length > 1) return;
            fetch(`/api/ozon/category/brands?path={{ path }}&date={{ d1 }} to {{ d2 }}&url=sellers`, {
                method: "GET"
            })
                .then(data => data.json())
                .then(data => {
                    let label=[], valueRev=[], valueSale=[], str = ``
                    for (let i = 0; i < data.length; i++) {
                        if (i === 6) {
                            label[i] = 'Остальные'
                            valueSale[6] = data[i]['fbo'] === undefined?0:data[i]['fbo']['sales']
                            valueRev[6] = data[i]['fbo'] === undefined?0:data[i]['fbo']['revenue']
                        }
                        if (i > 6) {
                            valueSale[6] += data[i]['fbo'] === undefined?0:data[i]['fbo']['sales']
                            valueRev[6] += data[i]['fbs'] === undefined?0:data[i]['fbo']['revenue']
                        }
                        if (i < 6) {
                            label[i] = data[i]['name']
                            valueSale[i] = data[i]['fbo'] === undefined?0:data[i]['fbo']['sales']
                            valueRev[i] = data[i]['fbo'] === undefined?0:data[i]['fbo']['revenue']
                        }
                        str += `
                            <div comp-id="5772"
                                                                         style="transform: translateY(${i*35}px); height: 35px;"
                                                                         row-index="0"
                                                                         class="ag-row-even ag-row-no-focus ag-row ag-row-level-0 ag-row-position-absolute ag-row-first"
                                                                         aria-rowindex="4" role="row" row-id="0">
                                                                        <div comp-id="5804"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-cell-range-left"
                                                                             aria-colindex="1" tabindex="-1"
                                                                             col-id="field" role="gridcell"
                                                                             style="left: 0px; width: 300px;"><a
                                                                                    href="/ozon/seller/${data[i]['name']}"
                                                                                    title="Альянс" target="_blank">${data[i]['name']}</a>
                                                                        </div>
                                                                        <div comp-id="5805"
                                                                             class="number ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell"
                                                                             aria-colindex="2" tabindex="-1"
                                                                             col-id="balance" role="gridcell"
                                                                             style="left: 300px; width: 110px;">${data[i]['balance']}
                                                                        </div>
                                                                        <div comp-id="5806"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbo text-right"
                                                                             aria-colindex="3" tabindex="-1"
                                                                             col-id="fbo_items" role="gridcell"
                                                                             style="left: 410px; width: 100px;">
                                                                            <span><span title="0 шт">${data[i]['fbo']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5807"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbo text-right"
                                                                             aria-colindex="4" tabindex="-1"
                                                                             col-id="fbo_sales" role="gridcell"
                                                                             style="left: 510px; width: 100px;">
                                                                            <span><span class="number" title="0 шт">${data[i]['fbo']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5808"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbo text-right"
                                                                             aria-colindex="5" tabindex="-1"
                                                                             col-id="fbo_revenue" role="gridcell"
                                                                             style="left: 610px; width: 120px;">
                                                                            <span><span class="number" title="0 ₽">${data[i]['fbo']['revenue']} ₽</span></span>
                                                                        </div>
                                                                        <div comp-id="5809"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbs text-right"
                                                                             aria-colindex="6" tabindex="-1"
                                                                             col-id="fbs_items" role="gridcell"
                                                                             style="left: 730px; width: 100px;">
                                                                            <span><span class="number" title="6 746 шт">${data[i]['fbs']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5810"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbs text-right"
                                                                             aria-colindex="7" tabindex="-1"
                                                                             col-id="fbs_sales" role="gridcell"
                                                                             style="left: 830px; width: 100px;">
                                                                            <span><span class="number" title="101 098 шт">${data[i]['fbs']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5811"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbs text-right"
                                                                             aria-colindex="8" tabindex="-1"
                                                                             col-id="fbs_revenue" role="gridcell"
                                                                             style="left: 930px; width: 120px;">
                                                                            <span><span class="number" title="243 703 640 ₽">${data[i]['fbs']['revenue']} ₽</span></span>
                                                                        </div>
                                                                        <div comp-id="5812"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height retail text-right"
                                                                             aria-colindex="9" tabindex="-1"
                                                                             col-id="retail_items" role="gridcell"
                                                                             style="left: 1050px; width: 100px;">
                                                                            <span><span  class="number" title="0 шт">${data[i]['retail']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5813"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height retail text-right"
                                                                             aria-colindex="10" tabindex="-1"
                                                                             col-id="retail_sales" role="gridcell"
                                                                             style="left: 1150px; width: 100px;">
                                                                            <span><span class="number" title="0 шт">${data[i]['retail']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5814"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height retail text-right"
                                                                             aria-colindex="11" tabindex="-1"
                                                                             col-id="retail_revenue" role="gridcell"
                                                                             style="left: 1250px; width: 120px;">
                                                                            <span><span class="number" title="0 ₽">${data[i]['retail']['revenue']} ₽</span></span>
                                                                        </div>
                                                                        <div comp-id="5815"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height tot text-right"
                                                                             aria-colindex="15" tabindex="-1"
                                                                             col-id="tot_items" role="gridcell"
                                                                             style="left: 1690px; width: 100px;">
                                                                            <span><span  class="number" title="6 746 шт">${data[i]['retail']['items']+data[i]['fbo']['items']+data[i]['fbs']['items']+data[i]['crossborder']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5816"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height tot text-right"
                                                                             aria-colindex="16" tabindex="-1"
                                                                             col-id="tot_sales" role="gridcell"
                                                                             style="left: 1790px; width: 100px;">
                                                                            <span><span class="number" title="101 098 шт">${data[i]['retail']['sales']+data[i]['fbo']['sales']+data[i]['fbs']['sales']+data[i]['crossborder']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5817"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-cell-range-right tot text-right"
                                                                             aria-colindex="17" tabindex="-1"
                                                                             col-id="tot_revenue" role="gridcell"
                                                                             style="left: 1890px; width: 120px;">
                                                                            <span><span class="number" title="243 703 640 ₽">${data[i]['retail']['revenue']+data[i]['fbo']['revenue']+data[i]['fbs']['revenue']+data[i]['crossborder']['revenue']} ₽</span></span>
                                                                        </div>
                                                                        <div comp-id="6289"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height crossborder text-right"
                                                                             aria-colindex="12" tabindex="-1"
                                                                             col-id="crossborder_items" role="gridcell"
                                                                             style="left: 1370px; width: 100px;">
                                                                            <span><span class="number" title="0 шт">${data[i]['crossborder']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="6290"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height crossborder text-right"
                                                                             aria-colindex="13" tabindex="-1"
                                                                             col-id="crossborder_sales" role="gridcell"
                                                                             style="left: 1470px; width: 100px;">
                                                                            <span><span class="number" title="0 шт">${data[i]['crossborder']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="6291"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height crossborder text-right"
                                                                             aria-colindex="14" tabindex="-1"
                                                                             col-id="crossborder_revenue"
                                                                             role="gridcell"
                                                                             style="left: 1570px; width: 120px;">
                                                                            <span><span class="number" title="0 ₽">${data[i]['crossborder']['revenue']} ₽</span></span>
                                                                        </div>
                                                                    </div>
                        `
                    }
                    document.getElementById(id + "__table").innerHTML = str
                    formatter("number")
                    drawDonutGraph('seller_graph1', label, valueSale, 'Продажи')
                    drawDonutGraph('seller_graph2', label, valueRev, 'Выручка', 'right')
                })
        }

        function brands(id) {
            if (document.getElementById(id + "__table").children.length > 1) return;
            fetch(`/api/ozon/category/brands?path={{ path }}&date={{ d1 }} to {{ d2 }}&url=brands`, {
                method: "GET"
            })
                .then(data => data.json())
                .then(data => {
                    let label=[], valueRev=[], valueSale=[], str = ``
                    for (let i = 0; i < data.length; i++) {
                        if (i === 6) {
                            label[i] = 'Остальные'
                            valueSale[6] = data[i]['fbo'] === undefined?0:data[i]['fbo']['sales']
                            valueRev[6] = data[i]['fbo'] === undefined?0:data[i]['fbo']['revenue']
                        }
                        if (i > 6) {
                            valueSale[6] += data[i]['fbo'] === undefined?0:data[i]['fbo']['sales']
                            valueRev[6] += data[i]['fbs'] === undefined?0:data[i]['fbo']['revenue']
                        }
                        if (i < 6) {
                            label[i] = data[i]['name']
                            valueSale[i] = data[i]['fbo'] === undefined?0:data[i]['fbo']['sales']
                            valueRev[i] = data[i]['fbo'] === undefined?0:data[i]['fbo']['revenue']
                        }
                        str += `
                            <div style="transform: translateY(${i*35}px); height: 35px;"
                                                                         class="ag-row-even ag-row-no-focus ag-row ag-row-level-0 ag-row-position-absolute ag-row-first">
                                                                        <div class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-cell-range-left"
                                                                             col-id="field" role="gridcell"
                                                                             style="left: 0px; width: 300px;"><a
                                                                                    href="/ozon/brand/${data[i]['name']}" title="1"
                                                                                    target="_blank">${data[i]['name']}</a></div>
                                                                        <div comp-id="5037"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbo text-right"
                                                                             aria-colindex="2" tabindex="-1"
                                                                             col-id="fbo_items" role="gridcell"
                                                                             style="left: 300px; width: 100px;">
                                                                            <span><span title="105 шт">${data[i]['fbo']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5038"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbo text-right"
                                                                             aria-colindex="3" tabindex="-1"
                                                                             col-id="fbo_sales" role="gridcell"
                                                                             style="left: 400px; width: 100px;">
                                                                            <span><span class="number" title="2 703 шт">${data[i]['fbo']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5039"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbo text-right"
                                                                             aria-colindex="4" tabindex="-1"
                                                                             col-id="fbo_revenue" role="gridcell"
                                                                             style="left: 500px; width: 120px;">
                                                                            <span><span class="number" title="1 333 263 ₽">${data[i]['fbo']['revenue']} ₽</span></span>
                                                                        </div>
                                                                        <div comp-id="5040"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbs text-right"
                                                                             aria-colindex="5" tabindex="-1"
                                                                             col-id="fbs_items" role="gridcell"
                                                                             style="left: 620px; width: 100px;">
                                                                            <span><span title="1 шт">${data[i]['fbs']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5041"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbs text-right"
                                                                             aria-colindex="6" tabindex="-1"
                                                                             col-id="fbs_sales" role="gridcell"
                                                                             style="left: 720px; width: 100px;">
                                                                            <span><span class="number" title="0 шт">${data[i]['fbs']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5042"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbs text-right"
                                                                             aria-colindex="7" tabindex="-1"
                                                                             col-id="fbs_revenue" role="gridcell"
                                                                             style="left: 820px; width: 120px;">
                                                                            <span><span class="number" title="0 ₽">${data[i]['fbs']['revenue']} ₽</span></span>
                                                                        </div>
                                                                        <div comp-id="5043"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height retail text-right"
                                                                             aria-colindex="8" tabindex="-1"
                                                                             col-id="retail_items" role="gridcell"
                                                                             style="left: 940px; width: 100px;">
                                                                            <span><span title="0 шт">${data[i]['retail']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5044"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height retail text-right"
                                                                             aria-colindex="9" tabindex="-1"
                                                                             col-id="retail_sales" role="gridcell"
                                                                             style="left: 1040px; width: 100px;">
                                                                            <span><span class="number" title="0 шт">${data[i]['retail']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5045"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height retail text-right"
                                                                             aria-colindex="10" tabindex="-1"
                                                                             col-id="retail_revenue" role="gridcell"
                                                                             style="left: 1140px; width: 120px;">
                                                                            <span><span class="number" title="0 ₽">${data[i]['retail']['revenue']} ₽</span></span>
                                                                        </div>
                                                                        <div comp-id="5046"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height tot text-right"
                                                                             aria-colindex="14" tabindex="-1"
                                                                             col-id="tot_items" role="gridcell"
                                                                             style="left: 1580px; width: 100px;">
                                                                            <span><span title="106 шт">${data[i]['fbs']['items'] + data[i]['fbo']['items'] + data[i]['crossborder']['items'] + data[i]['retail']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5047"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height tot text-right"
                                                                             aria-colindex="15" tabindex="-1"
                                                                             col-id="tot_sales" role="gridcell"
                                                                             style="left: 1680px; width: 100px;">
                                                                            <span><span class="number" title="2 703 шт">${data[i]['fbs']['sales'] + data[i]['fbo']['sales'] + data[i]['crossborder']['sales'] + data[i]['retail']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5048"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-cell-range-right tot text-right"
                                                                             aria-colindex="16" tabindex="-1"
                                                                             col-id="tot_revenue" role="gridcell"
                                                                             style="left: 1780px; width: 120px;">
                                                                            <span><span class="number" title="1 333 263 ₽">${data[i]['fbs']['revenue'] + data[i]['fbo']['revenue'] + data[i]['crossborder']['revenue'] + data[i]['retail']['revenue']} ₽</span></span>
                                                                        </div>
                                                                        <div comp-id="5532"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height crossborder text-right"
                                                                             aria-colindex="11" tabindex="-1"
                                                                             col-id="crossborder_items" role="gridcell"
                                                                             style="left: 1260px; width: 100px;">
                                                                            <span><span title="0 шт">${data[i]['crossborder']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5533"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height crossborder text-right"
                                                                             aria-colindex="12" tabindex="-1"
                                                                             col-id="crossborder_sales" role="gridcell"
                                                                             style="left: 1360px; width: 100px;">
                                                                            <span><span class="number" title="0 шт">${data[i]['crossborder']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="5534"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height crossborder text-right"
                                                                             aria-colindex="13" tabindex="-1"
                                                                             col-id="crossborder_revenue"
                                                                             role="gridcell"
                                                                             style="left: 1460px; width: 120px;">
                                                                            <span><span class="number"  title="0 ₽">${data[i]['crossborder']['revenue']} ₽</span></span>
                                                                        </div>
                                                                    </div>
                        `
                    }
                    document.getElementById(id + "__table").innerHTML = str
                    formatter("number")
                    drawDonutGraph('brand_graph1', label, valueSale, 'Продажи')
                    drawDonutGraph('brand_graph2', label, valueRev, 'Выручка', 'right')
                })
        }

        function subCategory(id) {
            if (document.getElementById(id + "__table").children.length > 1) return;
            fetch(`/api/ozon/subCategory?url={{ path }}&date={{d1}} to {{d2}}`, {
                method: "GET"
            })
                .then(data => data.json())
                .then(data => {
                    let label = [], valueSale = [], valueRev=[],str = ``
                    for (let i = 0; i < data.length; i++) {
                        if (i === 6) {
                            label[i] = 'Остальные'
                            valueSale[6] = data[i]['fbo'] === undefined?0:data[i]['fbo']['sales']
                            valueRev[6] = data[i]['fbo'] === undefined?0:data[i]['fbo']['revenue']
                        }
                        if (i > 6) {
                            valueSale[6] += data[i]['fbo'] === undefined?0:data[i]['fbo']['sales']
                            valueRev[6] += data[i]['fbs'] === undefined?0:data[i]['fbo']['revenue']
                        }
                        if (i < 6) {
                            label[i] = data[i]['name']
                            valueSale[i] = data[i]['fbo'] === undefined?0:data[i]['fbo']['sales']
                            valueRev[i] = data[i]['fbo'] === undefined?0:data[i]['fbo']['revenue']
                        }
                        str += `
                        <div style="transform: translateY(${i*35}px); height: 35px;"
                                                                         class="ag-row-even ag-row-no-focus ag-row ag-row-level-0 ag-row-position-absolute ag-row-first"
                                                                         aria-rowindex="4" role="row">
                                                                        <div class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-cell-range-left"
                                                                             style="left: 0px; width: 300px;"><span><a
                                                                                        href="/ozon/category?url=${data[i]['parent_category']}/${data[i]['name']}&d1={{ d1 }}&d2={{ d2 }}"
                                                                                        target="_blank">${data[i]['name']}</a></span>
                                                                        </div>
                                                                        <div class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbo text-right"
                                                                             aria-colindex="2" tabindex="-1"
                                                                             col-id="fbo_items" role="gridcell"
                                                                             style="left: 300px; width: 100px;">
                                                                            <span><span class="number" title="2 073 шт">${data[i]['fbo']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="2776"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbo text-right"
                                                                             aria-colindex="3" tabindex="-1"
                                                                             col-id="fbo_sales" role="gridcell"
                                                                             style="left: 400px; width: 100px;">
                                                                            <span><span class="number" title="31 248 шт">${data[i]['fbo']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="2777"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbo text-right"
                                                                             aria-colindex="4" tabindex="-1"
                                                                             col-id="fbo_revenue" role="gridcell"
                                                                             style="left: 500px; width: 120px;">
                                                                            <span><span class="number" title="14 380 920 ₽">${data[i]['fbo']['revenue']} ₽</span></span>
                                                                        </div>
                                                                        <div comp-id="2778"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbs text-right"
                                                                             aria-colindex="5" tabindex="-1"
                                                                             col-id="fbs_items" role="gridcell"
                                                                             style="left: 620px; width: 100px;">
                                                                            <span><span class="number" title="415 шт">${data[i]['fbs']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="2779"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbs text-right"
                                                                             aria-colindex="6" tabindex="-1"
                                                                             col-id="fbs_sales" role="gridcell"
                                                                             style="left: 720px; width: 100px;">
                                                                            <span><span class="number" title="89 613 шт">${data[i]['fbs']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="2780"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height fbs text-right"
                                                                             aria-colindex="7" tabindex="-1"
                                                                             col-id="fbs_revenue" role="gridcell"
                                                                             style="left: 820px; width: 120px;">
                                                                            <span><span class="number" title="224 219 227 ₽">${data[i]['fbs']['revenue']} ₽</span></span>
                                                                        </div>
                                                                        <div comp-id="2781"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height retail text-right"
                                                                             aria-colindex="8" tabindex="-1"
                                                                             col-id="retail_items" role="gridcell"
                                                                             style="left: 940px; width: 100px;">
                                                                            <span><span title="91 шт">${data[i]['retail']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="2782"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height retail text-right"
                                                                             aria-colindex="9" tabindex="-1"
                                                                             col-id="retail_sales" role="gridcell"
                                                                             style="left: 1040px; width: 100px;">
                                                                            <span><span class="number" title="18 615 шт">${data[i]['retail']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="2783"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height retail text-right"
                                                                             aria-colindex="10" tabindex="-1"
                                                                             col-id="retail_revenue" role="gridcell"
                                                                             style="left: 1140px; width: 120px;">
                                                                            <span><span class="number" title="6 391 093 ₽">${data[i]['retail']['revenue']} ₽</span></span>
                                                                        </div>
                                                                        <div comp-id="2784"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height tot text-right"
                                                                             aria-colindex="14" tabindex="-1"
                                                                             col-id="tot_items" role="gridcell"
                                                                             style="left: 1580px; width: 100px;">
                                                                            <span><span title="2 580 шт">${data[i]['fbo']['items'] + data[i]['fbs']['items'] + data[i]['retail']['items'] + data[i]['crossborder']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="2785"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height tot text-right"
                                                                             aria-colindex="15" tabindex="-1"
                                                                             col-id="tot_sales" role="gridcell"
                                                                             style="left: 1680px; width: 100px;">
                                                                            <span><span class="number" title="139 476 шт">${data[i]['fbo']['sales'] + data[i]['fbs']['sales'] + data[i]['retail']['sales'] + data[i]['crossborder']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="2786"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-cell-range-right tot text-right"
                                                                             aria-colindex="16" tabindex="-1"
                                                                             col-id="tot_revenue" role="gridcell"
                                                                             style="left: 1780px; width: 120px;">
                                                                            <span><span class="number" title="244 991 240 ₽">${data[i]['fbo']['revenue'] + data[i]['fbs']['revenue'] + data[i]['retail']['revenue'] + data[i]['crossborder']['revenue']} ₽</span></span>
                                                                        </div>
                                                                        <div comp-id="3102"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height crossborder text-right"
                                                                             aria-colindex="11" tabindex="-1"
                                                                             col-id="crossborder_items" role="gridcell"
                                                                             style="left: 1260px; width: 100px;">
                                                                            <span><span title="1 шт">${data[i]['crossborder']['items']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="3103"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height crossborder text-right"
                                                                             aria-colindex="12" tabindex="-1"
                                                                             col-id="crossborder_sales" role="gridcell"
                                                                             style="left: 1360px; width: 100px;">
                                                                            <span><span class="number" title="0 шт">${data[i]['crossborder']['sales']} шт</span></span>
                                                                        </div>
                                                                        <div comp-id="3104"
                                                                             class="ag-cell-value ag-cell ag-cell-not-inline-editing ag-cell-normal-height crossborder text-right"
                                                                             aria-colindex="13" tabindex="-1"
                                                                             col-id="crossborder_revenue"
                                                                             role="gridcell"
                                                                             style="left: 1460px; width: 120px;">
                                                                            <span><span class="number" title="0 ₽">${data[i]['crossborder']['revenue']} ₽</span></span>
                                                                        </div>
                                                                    </div>
                    `
                    }
                    document.getElementById(id + "__table").innerHTML = str
                    formatter("number")
                    drawDonutGraph('sub_graph1', label, valueSale, 'Продажи')
                    drawDonutGraph('sub_graph2', label, valueRev, 'Выручка', 'right')
                })
        }
    </script>

{% endblock %}