{% extends 'index/index.html.twig' %}
{% block linkStyles %}
    <link href="../../styles/index/styles.css" rel="stylesheet">
    <link href="../../styles/index/vendor.css" rel="stylesheet">
    <link href="../../styles/summary/summary.css" rel="stylesheet">
    <link href="../../styles/summary/table.css" rel="stylesheet">
    <link href="../../styles/summary/table2.css" rel="stylesheet">
    <link href="../../styles/seo/selection.css" rel="stylesheet">
    <link href="../../styles/seo/slider.css" rel="stylesheet">
    <link href="../../styles/seo/table.css" rel="stylesheet">
    <link href="../../styles/jquery-spinner.min.css" rel="stylesheet">
    <script src="../../script/jquery-spinner.min.js"/>
    <script>
        function collapse(element) {
            let display = element.parentNode.parentNode.children[1].style.display
            element.parentNode.parentNode.children[1].style.display = display === "block" ? "none" : "block"
        }
    </script>
{% endblock %}
{% block body %}
    {% include 'wb/HTML/categorySale.html.twig' %}
    <script>
        let fbs = {{ fbs??'-' }}, date = "{{ d1??'-' }} to {{ d2??'-' }}"
        document.addEventListener("DOMContentLoaded", () => {
            let col = [
                {
                    headerName: 'Фото',
                    field: 'photo',
                    maxWidth: 80,
                    sortable: false,
                    filter: false,
                    cellRenderer: params => `<img style="height: 32px; width: 32px" src="${params.value}" />`
                },
                {headerName: 'SKU', field: 'sku'},
                {headerName: 'Название', field: 'name'},
                {headerName: 'Цвет', field: 'color'},
                {headerName: 'Категория', field: 'category'},
                {headerName: 'Позиция', field: 'position'},
                {headerName: 'Бренд', field: 'brand'},
                {headerName: 'Продавец', field: 'seller'},
                {headerName: 'Наличие', field: 'balance'},
                {headerName: 'Комментарии', field: 'comments'},
                {headerName: 'Рейтинг', field: 'rating'},
                {headerName: 'Цена', field: 'finalPrice'},
                {headerName: 'Цена СПП', field: 'clientPrice'},
                {headerName: 'Дней в наличии', field: 'dayStock'},
                {headerName: 'Продаж', field: 'sales'},
                {headerName: 'Выручка', field: 'revenue'},
            ]
            let value = [
                {% for sale in sales??[] %}
                {
                    photo: '{{ sale.thumb }}',
                    sku: {{ sale.nmId }} ,
                    name: '{{ sale.name }}',
                    color: '{{ sale.color }}',
                    category: '{{ sale.category }} ',
                    position: '{{ sale.position }}',
                    brand: '{{ sale.brand }}',
                    seller: '{{ sale.seller }}',
                    balance: '{{ sale.balance }} ',
                    comments: '{{ sale.comments }}',
                    rating: '{{ sale.rating }}',
                    finalPrice: '{{ sale.finalPrice }}',
                    clientPrice: '{{ sale.clientPrice }}',
                    dayStock: '{{ sale.dayStock }} ',
                    sales: '{{ sale.sales }}',
                    revenue: '{{ sale.revenue }}'
                },
                {% endfor %}
            ]

            option['columnDefs'] = col
            option['rowData'] = value
            option['onRowClicked'] = event => {
                window.location.href = 'item/' + event.data.sku
            }
            new agGrid.Grid(document.getElementsByClassName("ag-theme-balham")[0], option)

            newDatePicker('datePicker', function (date) {
                window.location.href = "{{ path("wb_category") }}?url={{ path??'-' }}&date=" + date + "&fbs=" + fbs
            })
            document.getElementById('switcher-element-72191').checked = fbs === 0 ? false : true
            document.getElementById('switcher-element-72191').addEventListener("input",
                function () {
                    fbs = fbs === 0 ? 1 : 0
                    window.location.href = "{{ path("wb_category") }}?url={{ path??'-' }}&date=" + date + "&fbs=" + fbs
                }
            )
            let sb = document.getElementById("scrollbar_subcategory")
            sb.addEventListener("input",
                function () {
                    let width = document.getElementById("__BVID__75__table").offsetWidth
                    let value = (sb.value * width / 300) / 5
                    document.getElementById("__BVID__75__table").style.transform = "translateX(-" + value + "vh)"
                    document.getElementById("__BVID__75__header").style.transform = "translateX(-" + value + "vh)"
                }, false)
            let brands = document.getElementById("scrollbar_brands")
            brands.addEventListener("input",
                function () {
                    let width = document.getElementById("__BVID__77__table").offsetWidth
                    let value = (brands.value * width / 300) / 5
                    document.getElementById("__BVID__77__table").style.transform = "translateX(-" + value + "vh)"
                    document.getElementById("__BVID__77__header").style.transform = "translateX(-" + value + "vh)"
                }, false)
            let sellers = document.getElementById("scrollbar_sellers")
            sellers.addEventListener("input",
                function () {
                    let width = document.getElementById("__BVID__79__table").offsetWidth
                    let value = (sellers.value * width / 300) / 5
                    document.getElementById("__BVID__79__table").style.transform = "translateX(-" + value + "vh)"
                    document.getElementById("__BVID__79__header").style.transform = "translateX(-" + value + "vh)"
                }, false)
            let onDay = document.getElementById("scrollbar_on_day")
            onDay.addEventListener("input",
                function () {
                    let width = document.getElementById("__BVID__84__table").offsetWidth
                    let value = (onDay.value * width / 300) / 5
                    document.getElementById("__BVID__84__table").style.transform = "translateX(-" + value + "vh)"
                    document.getElementById("__BVID__84__header").style.transform = "translateX(-" + value + "vh)"
                }, false)
            let prcSegment = document.getElementById("scrollbar_price_segment")
            prcSegment.addEventListener("input",
                function () {
                    let width = document.getElementById("__BVID__86__table").offsetWidth
                    let value = (prcSegment.value * width / 300) / 5
                    document.getElementById("__BVID__86__table").style.transform = "translateX(-" + value + "vh)"
                    document.getElementById("__BVID__86__header").style.transform = "translateX(-" + value + "vh)"
                }, false)
            let items = document.getElementById("scrollbar_items")
            items.addEventListener("input",
                function () {
                    let width = document.getElementById("__BVID__90__table").offsetWidth
                    let value = (items.value * width / 300) / 5
                    document.getElementById("__BVID__90__table").style.transform = "translateX(-" + value + "vh)"
                    document.getElementById("__BVID__90__header").style.transform = "translateX(-" + value + "vh)"
                }, false)
            let compare = document.getElementById("scrollbar_compare")
            compare.addEventListener("input",
                function () {
                    let width = document.getElementById("__BVID__88__table").offsetWidth
                    let value = (compare.value * width / 300) / 5
                    document.getElementById("__BVID__88__table").style.transform = "translateX(-" + value + "vh)"
                    document.getElementById("__BVID__88__header").style.transform = "translateX(-" + value + "vh)"
                }, false)
        })

        function redirect(element) {
            window.location.href = "/wb/item/" + element.id + "?name=" + "{{ path??'-' }}"
        }

        function select(el) {
            let id = el.id.substring(0, 10)
            let befPrefix = "__BVID__"
            let list = ["69", "75", "77", "79", "82", "84", "86", "88", "90"]
            let afPrefix = "___BV_tab_button__"
            for (let i = 0; i < list.length; i++) {
                document.getElementById(befPrefix + list[i] + afPrefix).classList.remove("active")
                document.getElementById(befPrefix + list[i]).style.display = "none"
            }
            document.getElementById(id).style.display = "block"
            document.getElementById(id + afPrefix).classList.add("active")
            switch (id) {
                case befPrefix + "75":
                    subCategory(id)
                    break;
                case befPrefix + "77":
                    brands(id)
                    break;
                case befPrefix + "79":
                    sellers(id)
                    break;
                case befPrefix + "82":
                    trends(id)
                    break;
                case befPrefix + "84":
                    onDay(id)
                    break;
                case befPrefix + "86":
                    priceSegment(id)
                    break;
                case befPrefix + "88":
                    compare(id)
                    break;
                case befPrefix + "90":
                    items(id)
                    break;
            }
        }

        function compare(id) {
            if (document.getElementById(id + "__table").children.length > 1) return;
            fetch(`{{ path('api_compare') }}?url={{ path??'-' }}`, {method: "GET"})
                .then(data => data.json())
                .then(data => {
                    let str = ``
                    let date = data['date']
                    document.getElementById('d1').innerText = `${date['d11']} - ${date['d12']}`
                    document.getElementById('d1_col').innerText = `${date['d11']} - ${date['d12']}`
                    document.getElementById('d2').innerText = `${date['d21']} - ${date['d22']}`
                    document.getElementById('d2_col').innerText = `${date['d21']} - ${date['d22']}`
                    data = data['data']
                    for (let i = 0; i < data.length; i++) {
                        str += `
                            <div  class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first" style="height: 35px; transform: translateY(${i * 35}px); " aria-label="Press SPACE to select this row.">
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height d-flex justify-content-center ag-cell-value" style="width: 50px; left: 0px;  ">
																		<div class="ag-grid-thumb-cell">
																			<div><img src="${data[i]['img']}">
																			<!---->
																			</div>
																			<!---->
																		</div>
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value" style="width: 261.3299999999999px; left: 50px;  ">
																		<a href="/wb/item/${data[i]['sku']}" target="_blank">${data[i]['name']}</a>
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value" style="width: 176px; left: 311.3299999999999px;  ">
																		<a href="https://www.wildberries.ru/catalog/${data[i]['sku']}/detail.aspx" title="Открыть в Wildberries" target="_blank">${data[i]['sku']}</a>
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value" style="width: 176px; left: 487.3299999999999px;  ">
																		${data[i]['brand']}
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value" style="width: 176px; left: 663.3299999999999px;  ">
																		${data[i]['seller']}
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height group-a-bg ag-right-aligned-cell ag-cell-value" style="width: 176px; left: 839.3299999999999px;  ">
																		${data[i]['sales_count_1']} шт
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height group-a-bg ag-right-aligned-cell ag-cell-value" style="width: 176px; left: 1015.3299999999999px;  ">
																		${data[i]['revenue_1']} ₽
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height group-a-bg ag-right-aligned-cell ag-cell-value" style="width: 176px; left: 1191.33px;  ">
																		${data[i]['pricefinal_1']} ₽
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height group-b-bg ag-right-aligned-cell ag-cell-value ag-column-hover" style="width: 176px; left: 1367.33px;  ">
                                                                        ${data[i]['sales_count_2']} шт
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height group-b-bg ag-right-aligned-cell ag-cell-value ag-column-hover" style="width: 176px; left: 1543.33px;  ">
                                                                        ${data[i]['revenue_2']} ₽
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height group-b-bg ag-right-aligned-cell ag-cell-value ag-column-hover" style="width: 176px; left: 1719.33px;  ">
																		${data[i]['pricefinal_2']} ₽
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value" style="width: 176px; left: 1895.33px;  ">
																		${data[i]['sales_count_diff']} шт
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value" style="width: 176px; left: 2071.33px;  ">
																		${data[i]['revenue_diff']} ₽
																	</div>
																	<div  class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value" style="width: 176px; left: 2247.33px;  ">
																		${data[i]['pricefinal_diff']} ₽
																	</div>
																</div>
                        `
                    }
                    document.getElementById(id + "__table").innerHTML = str
                })
        }

            function items(id) {
                if (document.getElementById(id + "__table").children.length > 1) return;
                fetch(`/api/items?url={{ path??'-' }}`, {method: "GET"})
                    .then(data => data.json())
                    .then(data => {
                        let str = ``
                        for (let i = 0; i < data.length; i++) {
                            str += `
                            <div role="row"
  class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first"
  style="height: 35px; transform: translateY(${i * 35}px); "
  aria-label="Press SPACE to select this row.">
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value"
   
    style="width: 270px; left: 0px;  ">
    ${data[i]['name']}
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 270px;  ">
    ${data[i]['commision_fbo']} %
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 420px;  ">
    ${data[i]['commision_fbs']} %
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 570px;  ">
    <div id="base-logistics-component-325">
      <span class="">${data[i]['basic_logistics']} ₽</span> <!--  -->
    </div>
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 720px;  ">
    ${data[i]['storage_price']} ₽
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 870px;  ">
    ${data[i]['acceptance_price']} ₽
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 106px; left: 1020px;  ">
    ${data[i]['rating']}
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 142px; left: 1126px;  ">
    ${data[i]['comments']}
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 115px; left: 1268px;  ">
    ${data[i]['sales']} шт
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 174px; left: 1383px;  ">
    ${data[i]['revenue']} ₽
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 1557px;  ">
    ${data[i]['avg_price']} ₽
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 110px; left: 1707px;  ">
    ${data[i]['items']} шт
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 1817px;  ">
    ${data[i]['items_with_sells']} шт
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 1967px;  ">
    ${data[i]['items_with_sells_percent']} %
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 2117px;  ">
    ${data[i]['sales_per_items_average']} шт
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 180px; left: 2267px;  ">
    ${data[i]['sales_per_items_with_sells_average']} шт
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 2447px;  ">
    ${data[i]['sellers']} шт
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 2597px;  ">
    ${data[i]['sellers_with_sells']} шт
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 2747px;  ">
    ${data[i]['sellers_with_sells_percent']} %
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 110px; left: 2897px;  ">
    ${data[i]['brands']} шт
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 110px; left: 3007px;  ">
    ${data[i]['brands_with_sells']} шт
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 3117px;  ">
    ${data[i]['revenue_per_items_average']} ₽
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 170px; left: 3267px;  ">
    ${data[i]['revenue_per_items_with_sells_average']} ₽
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 3437px;  ">
    ${data[i]['purchase']} %
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
   
    style="width: 150px; left: 3587px;  ">
    ${data[i]['purchase_after_return']} %
  </div>
  <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height d-flex justify-content-center align-items-center sparkline p-0 ag-cell-value"
   
    style="width: 173px; left: 3737px;  ">
    <div data-v-58767dae="">
      <canvas width="149"
        height="22"
        style="display: inline-block; width: 149px; height: 22px; vertical-align: top;"></canvas>
    </div>
  </div>
</div> 

                        `
                        }
                        document.getElementById(id + "__table").innerHTML = str
                    })
            }

            function priceSegment(id) {
                if (document.getElementById(id + "__table").children.length > 1) return;
                fetch(`/api/priceSegment?url={{ path??'-' }}`, {method: "GET"})
                    .then(data => data.json())
                    .then(data => {
                        let str = ``
                        for (let i = 0; i < data.length; i++) {
                            str += `
<div class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first" style="height: 35px; transform: translateY(${i * 35}px); ">
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value ag-cell-range-left"
                                                                             style="width: 177px; left: 0px;  ">${data[i]['min_range_price']} ₽
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                             style="width: 174px; left: 177px;  ">${data[i]['max_range_price']} ₽</div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                             style="width: 174px; left: 351px;  ">${data[i]['sales']}
                                                                            шт
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                             style="width: 174px; left: 525px;  ">${data[i]['revenue']} ₽
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                             style="width: 174px; left: 699px;  ">${data[i]['lost_profit']} ₽
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                             style="width: 174px; left: 873px;  ">${(data[i]['lost_profit_percent'] ?? 0).toFixed(2)}
                                                                            %
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                             style="width: 174px; left: 1047px;  ">${data[i]['items']}
                                                                            шт
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                             style="width: 174px; left: 1221px;  ">${data[i]['items_with_sells']}
                                                                            шт
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                             style="width: 174px; left: 1395px;  ">${data[i]['brands']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                             style="width: 174px; left: 1569px;  ">${data[i]['brands_with_sells']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                             style="width: 174px; left: 1743px;  ">${data[i]['sellers']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                             style="width: 174px; left: 1917px;  ">${data[i]['sellers_with_sells']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value ag-cell-range-right"
                                                                             style="width: 174px; left: 2091px;  ">${data[i]['product_revenue']} ₽/шт
                                                                        </div>
                                                                    </div>

                        `
                        }
                        document.getElementById(id + "__table").innerHTML = str
                    })
            }

            function onDay(id) {
                if (document.getElementById(id + "__table").children.length > 1) return;
                fetch(`/api/onDay?url={{ path??'-' }}`, {method: "GET"})
                    .then(data => data.json())
                    .then(data => {
                        let str = ``
                        for (let i = 0; i < data.length; i++) {
                            str += `
                            <div class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first"
                                                                         style="height: 35px; transform: translateY(${i * 35}px); "
                                                                         aria-label="Press SPACE to select this row.">
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="1"
                                                                             comp-id="2412" col-id="period"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value"
                                                                            
                                                                             style="width: 153.1099999999999px; left: 0px;  ">
                                                                            ${data[i]['period']}
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="2"
                                                                             comp-id="2413" col-id="items"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                            
                                                                             style="width: 154px; left: 153.1099999999999px;  ">
                                                                            ${data[i]['items']} шт
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="3"
                                                                             comp-id="2414" col-id="items_with_sells"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                            
                                                                             style="width: 154px; left: 307.1099999999999px;  ">
                                                                            ${data[i]['items_with_sells']} шт
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="4"
                                                                             comp-id="2415" col-id="sales"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height text-right ag-cell-value"
                                                                            
                                                                             style="width: 154px; left: 461.1099999999999px;  ">
                                                                            ${data[i]['sales']} шт
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="5"
                                                                             comp-id="2416" col-id="brands"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                            
                                                                             style="width: 154px; left: 615.1099999999999px;  ">
                                                                            ${data[i]['brands']}
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="6"
                                                                             comp-id="2417" col-id="brands_with_sells"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                            
                                                                             style="width: 154px; left: 769.1099999999999px;  ">
                                                                            ${data[i]['brands_with_sells']}
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="7"
                                                                             comp-id="2418" col-id="sellers"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                            
                                                                             style="width: 154px; left: 923.1099999999999px;  ">
                                                                            ${data[i]['sellers']}
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="8"
                                                                             comp-id="2419" col-id="sellers_with_sells"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                            
                                                                             style="width: 154px; left: 1077.11px;  ">
                                                                            ${data[i]['sellers_with_sells']}
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="9"
                                                                             comp-id="2420" col-id="revenue"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height text-right ag-cell-value"
                                                                            
                                                                             style="width: 154px; left: 1231.11px;  ">${data[i]['revenue']} ₽
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="10"
                                                                             comp-id="2421" col-id="avg_price"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                            
                                                                             style="width: 154px; left: 1385.11px;  ">${(data[i]['avg_price'] ?? 0).toFixed(2)} ₽
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="11"
                                                                             comp-id="2422" col-id="avg_sale_price"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                            
                                                                             style="width: 154px; left: 1539.11px;  ">${(data[i]['avg_sale_price'] ?? 0).toFixed(2)} ₽
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="12"
                                                                             comp-id="2423" col-id="comments"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                            
                                                                             style="width: 154px; left: 1693.11px;  ">
                                                                            ${(data[i]['comments'] ?? 0).toFixed(2)}
                                                                        </div>
                                                                        <div tabindex="-1" unselectable="on"
                                                                             role="gridcell" aria-colindex="13"
                                                                             comp-id="2424" col-id="rating"
                                                                             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                            
                                                                             style="width: 154px; left: 1847.11px;  ">
                                                                            ${(data[i]['rating'] ?? 0).toFixed(2)}
                                                                        </div>
                                                                    </div>
                        `
                        }
                        document.getElementById(id + "__table").innerHTML = str
                    })
            }

            function trends(id) {
                if (document.getElementById(id + "__table").children.length > 1) return;
                fetch(`/api/trends?url={{ path??'-' }}`, {
                    method: "GET"
                })
                    .then(data => data.json())
                    .then(data => {
                        let value = [[], [], [], [], [], [], [], [], [], []], str = ``,
                            names = ['Продажи', 'Выручка', 'Товаров', 'Товаров с продажами', 'Брендов', 'Брендов с продажами', 'Продавцов', 'Продавцов с продажами', 'Выручка на товар', 'Средний чек'],
                            labels = []
                        for (let i = 0; i < data.length; i++) {
                            labels[i] = data[i]['week']
                            value[0][i] = data[i]['sales'] ?? 0
                            value[1][i] = data[i]['revenue'] ?? 0
                            value[2][i] = data[i]['items'] ?? 0
                            value[3][i] = data[i]['items_with_sells'] ?? 0
                            value[4][i] = data[i]['brands'] ?? 0
                            value[5][i] = data[i]['brands_with_sells'] ?? 0
                            value[6][i] = data[i]['sellers'] ?? 0
                            value[7][i] = data[i]['sellers_with_sells'] ?? 0
                            value[8][i] = data[i]['product_revenue'] ?? 0
                            value[9][i] = data[i]['average_order_value'] ?? 0
                            str += `
                                                                        <div
                                                                         class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first"
                                                                         style="height: 35px; transform: translateY(${i * 35}px); "
                                                                         aria-label="Press SPACE to select this row.">
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value"
                                                                             style="width: 160px; left: 0px;"><span>${data[i]['week']} - ${data[i]['end_week']}</span>
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                             style="width: 163px; left: 160px;  ">${data[i]['sales']}
                                                                            шт
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                                            
                                                                             style="width: 163px; left: 323px;  ">${data[i]['revenue']} ₽
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                            
                                                                             style="width: 163px; left: 486px;  ">${data[i]['items']}
                                                                            шт
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                            
                                                                             style="width: 163px; left: 649px;  ">${data[i]['items_with_sells']}
                                                                            шт
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                            
                                                                             style="width: 163px; left: 812px;  ">${data[i]['brands']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                            
                                                                             style="width: 163px; left: 975px;  ">${data[i]['brands_with_sells']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                            
                                                                             style="width: 163px; left: 1138px;  ">${data[i]['sellers']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                            
                                                                             style="width: 163px; left: 1301px;  ">${data[i]['sellers_with_sells']}
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                            
                                                                             style="width: 163px; left: 1464px;  ">${data[i]['product_revenue']}
                                                                            ₽/шт
                                                                        </div>
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height tot text-right ag-cell-value"
                                                                            
                                                                             style="width: 163px; left: 1627px;  ">${data[i]['average_order_value']}
                                                                            ₽
                                                                        </div>
                                                                    </div>
                        `
                        }
                        document.getElementById(id + "__table").innerHTML = str
                        drawLineGraph('trends_revenue_graph', value, names, labels)
                    })
            }

            function sellers(id) {
                if (document.getElementById(id + "__table").children.length > 1) return;
                fetch(`/api/sellers?url={{ path??'-' }}`, {
                    method: "GET"
                })
                    .then(data => data.json())
                    .then(data => {
                        let label = [], valueRev = [], valueSale = [], str = ``
                        for (let i = 0; i < data.length; i++) {
                            if (i === 6) {
                                label[i] = 'Остальные'
                                valueSale[i] = data[i]['sales']
                                valueRev[i] = data[i]['revenue']
                            }
                            if (i > 6) {
                                valueSale[6] += data[i]['sales']
                                valueRev[6] += data[i]['revenue']
                            }
                            if (i < 6) {
                                label[i] = data[i]['name']
                                valueSale[i] = data[i]['sales']
                                valueRev[i] = data[i]['revenue']
                            }
                            str += `
                            <div 
         class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first"
         style="height: 35px; transform: translateY(${i * 35}px); " aria-label="Press SPACE to select this row.">
        <div 
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 142px; left: 480px;  ">${(data[i]['comments'] ?? 0).toFixed(2)}
        </div>
        <div 
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value number"
             style="width: 120px; left: 622px;  ">${(data[i]['sales'] ?? 0)} шт
        </div>
        <div 
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 120px; left: 742px;  ">
               ${(data[i]['sales_percent'] ?? 0).toFixed(2)}
                %
        </div>
        <div 
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value number"
             style="width: 174px; left: 862px;  ">${(data[i]['revenue'] ?? 0)} ₽
        </div>
        <div 
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 120px; left: 1036px;  ">${(data[i]['revenue_percent'] ?? 0).toFixed(2)} %
        </div>
        <div 
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 150px; left: 1156px;  ">${(data[i]['avg_price'] ?? 0).toFixed(2)} ₽
        </div>
        <div 
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value number"
             style="width: 120px; left: 1306px;  ">${(data[i]['items'] ?? 0)} шт
        </div>
        <div 
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 150px; left: 1426px;  ">${(data[i]['items_with_sells'] ?? 0)} шт
        </div>
        <div tabindex="-1" unselectable="on" role="gridcell" aria-colindex="12" comp-id="1144"
             col-id="items_with_sells_percent"
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 150px; left: 1576px;  ">${(data[i]['items_with_sells_percent'] ?? 0).toFixed(2)} %
        </div>
        <div tabindex="-1" unselectable="on" role="gridcell" aria-colindex="13" comp-id="1489"
             col-id="sales_per_items_average"
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 150px; left: 1726px;  ">${(data[i]['sales_per_items_average'] ?? 0).toFixed(1)} шт
        </div>
        <div tabindex="-1" unselectable="on" role="gridcell" aria-colindex="14" comp-id="1519"
             col-id="sales_per_items_with_sells_average"
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 180px; left: 1876px;  ">${(data[i]['sales_per_items_with_sells_average'] ?? 0).toFixed(1)} шт
        </div>
        <div 
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 120px; left: 2056px;  ">${(data[i]['balance'] ?? 0)} шт
        </div>
        <div 
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 150px; left: 2176px;  ">${(data[i]['brands'] ?? 0)} шт
        </div>
        <div tabindex="-1" unselectable="on" role="gridcell" aria-colindex="17" comp-id="1610"
             col-id="brands_with_sells"
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 150px; left: 2326px;  ">${(data[i]['brands_with_sells'] ?? 0)} шт
        </div>
        <div tabindex="-1" unselectable="on" role="gridcell" aria-colindex="18" comp-id="1653"
             col-id="brands_with_sells_percent"
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 150px; left: 2476px;  ">${(data[i]['brands_with_sells_percent'] ?? 0)} %
        </div>
        <div tabindex="-1" unselectable="on" role="gridcell" aria-colindex="19" comp-id="1654"
             col-id="revenue_per_items_average"
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 150px; left: 2626px;  ">${(data[i]['revenue_per_items_average'] ?? 0).toFixed(2)} ₽
        </div>
        <div tabindex="-1" unselectable="on" role="gridcell" aria-colindex="20" comp-id="1748"
             col-id="revenue_per_items_with_sells_average"
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 170px; left: 2776px;  ">${(data[i]['revenue_per_items_with_sells_average'] ?? 0).toFixed(2)} ₽
        </div>
        <div 
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 100px; left: 0px;  ">${(data[i]['position'] ?? 0)}
        </div>
        <div 
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value"
             style="width: 260px; left: 100px;  "><a>${(data[i]['name'] ?? 0)}</a></div>
        <div 
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
             style="width: 120px; left: 360px;  ">${(data[i]['rating'] ?? 0).toFixed(2)}
        </div>
        <div 
             class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height d-flex justify-content-center align-items-center sparkline p-0 ag-cell-value"
             style="width: 177px; left: 2946px;">

        </div>
    </div>
                        `
                        }
                        document.getElementById(id + "__table").innerHTML = str
                        formatter("number")
                        drawDonutGraph('sellers_sales_graph', label, valueSale, 'Продажи')
                        drawDonutGraph('sellers_revenue_graph', label, valueRev, 'Выручка', 'right')
                    })
            }

            function brands(id) {
                if (document.getElementById(id + "__table").children.length > 1) return;
                fetch(`/api/brands?url={{ path??'-' }}`, {
                    method: "GET"
                })
                    .then(data => data.json())
                    .then(data => {
                        let label = [], valueRev = [], valueSale = [], str = ``
                        for (let i = 0; i < data.length; i++) {
                            if (i === 6) {
                                label[i] = 'Остальные'
                                valueSale[i] = data[i]['sales']
                                valueRev[i] = data[i]['revenue']
                            }
                            if (i > 6) {
                                valueSale[6] += data[i]['sales']
                                valueRev[6] += data[i]['revenue']
                            }
                            if (i < 6) {
                                label[i] = data[i]['name']
                                valueSale[i] = data[i]['sales']
                                valueRev[i] = data[i]['revenue']
                            }
                            str += `
                        <div
                                                     class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first ag-row-hover"
                                                     style="height: 35px; transform: translateY(${i * 35}px); "
                                                     aria-label="Press SPACE to select this row.">
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="1" comp-id="717" col-id="position"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 100px; left: 0px;  ">${(data[i]['position'] ?? 0)}
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="2" comp-id="718" col-id="name"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value"
                                                         style="width: 200px; left: 100px;  "><a href="brand/${data[i]['name'] ?? 0}"
                                                                title="United Colors of Benetton" target="_blank">${(data[i]['name'] ?? 0)}</a></div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="3" comp-id="719" col-id="rating"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 120px; left: 300px;  ">${(data[i]['rating'] ?? 0).toFixed(2)}
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="4" comp-id="720" col-id="comments"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 142px; left: 420px;  ">${(data[i]['comments'] ?? 0).toFixed(2)}
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="5" comp-id="721" col-id="sales"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 120px; left: 562px;  ">${(data[i]['sales'] ?? 0)} шт
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="6" comp-id="722" col-id="sales_percent"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 120px; left: 682px;  ">
                                                        ${(data[i]['sales_percent'] ?? 0).toFixed(2)} %
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="7" comp-id="723" col-id="revenue"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value number"
                                                         style="width: 174px; left: 802px;  ">${(data[i]['revenue'] ?? 0)} ₽
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="8" comp-id="724" col-id="revenue_percent"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 120px; left: 976px;  ">
                                                        ${(data[i]['revenue_percent'] ?? 0).toFixed(2)} %
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="9" comp-id="725" col-id="avg_price"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 150px; left: 1096px;  ">
                                                        ${(data[i]['avg_price'] ?? 0).toFixed(2)} ₽
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="10" comp-id="726" col-id="items"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 120px; left: 1246px;  ">${(data[i]['items'] ?? 0)} шт
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="11" comp-id="727" col-id="items_with_sells"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 150px; left: 1366px;  ">${(data[i]['items_with_sells'] ?? 0)} шт
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="12" comp-id="728"
                                                         col-id="items_with_sells_percent"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 150px; left: 1516px;  ">${(data[i]['items_with_sells_percent'] ?? 0).toFixed(2)}
                                                        %
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="13" comp-id="729"
                                                         col-id="sales_per_items_average"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 150px; left: 1666px;  ">${(data[i]['sales_per_items_average'] ?? 0).toFixed(2)}
                                                        шт
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="14" comp-id="730"
                                                         col-id="sales_per_items_with_sells_average"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 180px; left: 1816px;  ">${(data[i]['sales_per_items_with_sells_average'] ?? 0).toFixed(2)}
                                                        шт
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="15" comp-id="731" col-id="sellers"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 150px; left: 1996px;  ">${(data[i]['sellers'] ?? 0)}
                                                        шт
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="16" comp-id="732" col-id="sellers_with_sells"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 150px; left: 2146px;  ">${(data[i]['sellers_with_sells'] ?? 0)}
                                                        шт
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="17" comp-id="1480"
                                                         col-id="sellers_with_sells_percent"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 150px; left: 2296px;  ">${(data[i]['sellers_with_sells_percent'] ?? 0).toFixed(2)}
                                                        %
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="18" comp-id="1481"
                                                         col-id="revenue_per_items_average"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value"
                                                         style="width: 150px; left: 2446px;  ">${(data[i]['revenue_per_items_average'] ?? 0).toFixed(2)} ₽
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="19" comp-id="1482"
                                                         col-id="revenue_per_items_with_sells_average"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-right-aligned-cell ag-cell-value ag-column-hover"
                                                         style="width: 170px; left: 2596px;  ">${(data[i]['revenue_per_items_with_sells_average'] ?? 0).toFixed(2)} ₽
                                                    </div>
                                                    <div tabindex="-1" unselectable="on" role="gridcell"
                                                         aria-colindex="20" comp-id="1681" col-id="graph"
                                                         class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height d-flex justify-content-center align-items-center sparkline p-0 ag-cell-value"
                                                         style="width: 172px; left: 2766px;">
                                                    </div>
                                                </div>
                        `
                        }
                        document.getElementById(id + "__table").innerHTML = str
                        formatter("number")
                        drawDonutGraph('brand_sales_graph', label, valueSale, 'Продажи')
                        drawDonutGraph('brand_revenue_graph', label, valueRev, 'Выручка', 'right')
                    })
            }

            function subCategory(id) {
                fetch(`/api/subCategory?url={{ path??'-' }}`, {method: "GET"})
                    .then(data => data.json())
                    .then(data => {
                        let label = [], valueSale = [], valueRev = [], value = []
                        for (let i = 0; i < data.length; i++) {
                            if (i === 6) {
                                label[i] = 'Остальные'
                                valueSale[i] = data[i]['sales']
                                valueRev[i] = data[i]['revenue']
                            }
                            if (i > 6) {
                                valueSale[6] += data[i]['sales']
                                valueRev[6] += data[i]['revenue']
                            }
                            if (i < 6) {
                                label[i] = data[i]['name']
                                valueSale[i] = data[i]['sales']
                                valueRev[i] = data[i]['revenue']
                            }
                            value[i] = {
                                name: data[i]['name'],
                                rating: data[i]['rating'].toFixed(0),
                                comments: data[i]['comments'].toFixed(0),
                                sales: data[i]['sales'].toFixed(0),
                                revenue: data[i]['revenue'].toFixed(0),
                                avg_price: data[i]['avg_price'].toFixed(0),
                                items: data[i]['items'].toFixed(0),
                                items_with_sells: data[i]['items_with_sells'].toFixed(0),
                                items_with_sells_percent: data[i]['items_with_sells_percent'].toFixed(0),
                                sales_per_items_average: data[i]['sales_per_items_average'].toFixed(0),
                                sales_per_items_with_sells_average: data[i]['sales_per_items_with_sells_average'].toFixed(0),
                                sellers: data[i]['sellers'].toFixed(0),
                                sellers_with_sells: data[i]['sellers_with_sells'].toFixed(0),
                                sellers_with_sells_percent: data[i]['sellers_with_sells_percent'].toFixed(0),
                                brands: data[i]['brands'].toFixed(0),
                                brands_with_sells: data[i]['brands_with_sells'],
                                brands_with_sells_percent: data[i]['brands_with_sells_percent'].toFixed(0),
                                revenue_per_items_average: data[i]['revenue_per_items_average'].toFixed(0),
                                revenue_per_items_with_sells_average: data[i]['revenue_per_items_with_sells_average'].toFixed(0)
                            }
                        }
                        option2 = {...option}
                        option2['columnDefs'] = [
                            {
                                headerName: 'Рубрика', field: 'name', cellRenderer: params => {
                                    let url = params.value === 'Текущая категория' ? '' : `category?url={{ path??'-' }}/${params.value}`
                                    return `<a style="height: 32px; width: 32px" href="${url}" >${params.value}</a>`
                                }
                            },
                            {
                                headerName: 'Рейтинг',
                                field: 'rating',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Комментарии',
                                field: 'comments',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Продажи',
                                field: 'sales',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Выручка',
                                field: 'revenue',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Средняя цена',
                                field: 'avg_price',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Товаров',
                                field: 'items',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Товаров c продажами',
                                field: 'items_with_sells',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Процент товаров c продажами',
                                field: 'items_with_sells_percent',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Среднее число продаж на 1 товар',
                                field: 'sales_per_items_average',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Среднее число продаж на 1 товар с продажами',
                                field: 'sales_per_items_with_sells_average',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Число продавцов',
                                field: 'sellers',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Продавцов с продажами',
                                field: 'sellers_with_sells',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Процент продавцов с продажами',
                                field: 'sellers_with_sells_percent',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Число брендов',
                                field: 'brands',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Брендов с продажами',
                                field: 'brands_with_sells',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Процент брендов с продажами',
                                field: 'brands_with_sells_percent',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Средняя выручка на 1 товар',
                                field: 'revenue_per_items_average',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                            {
                                headerName: 'Средняя выручка на 1 товар с продажами',
                                field: 'revenue_per_items_with_sells_average',
                                cellRenderer: params => `<p class="number">${params.value}</p>`
                            },
                        ]
                        option2['headerHeight'] = 70
                        option2['rowData'] = value
                        option2['onGridReady'] = params => {formatter("number")}
                        option2['onBodyScroll'] = params => {formatter("number")}

                        let grid = new agGrid.Grid(document.getElementsByClassName("ag-theme-balham")[1], option2)

                        drawDonutGraph('sales_graph', label, valueSale, 'Продажи')
                        drawDonutGraph('revenue_graph', label, valueRev, 'Выручка', 'right')
                    })
        }
    </script>
{% endblock %}